
html {
  background-color:#070b9b;
}

body, html {
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font: Arial 14px;
  text-align:center;
  background-color: white;
}

#test {
  color: #808080;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


     #head{
        background-color:#070bff;
        vertical-align:middle;
        width:100%;
        height:85px;
        top:0px;
        left:0px;
        text-align:left;
        position:fixed;
        color:black;
        padding:1px;

      }
      #menu{
        background-color:transparent;
        top:0px;
        right:0px;
        width:50px;
        height:50px;
        float:right;
      }
      #menuline{
        background-color:white;
        border:0px;
        width:50px;
        height:5px;
        right:0px;
        position:absolute;
        box-shadow: 1px 1px 5px black, 0 0 25 black;
      }

.content {
  margin-top:70px;
  bottom:0px;
  background-color:rgba(126,199,255,.4);
  position:below;
  width:100%;
  min-height:100%;
  height:100%;
  border: solid black 2px;
}

.title {
  float:left;
  text-align:center;
  padding-bottom:;
  padding-left:25%;
}

.titletext {
  text-decoration: none;
  top:0px;
  color: white;
  text-shadow: 1px 1px 4px black,0 0 25px black;
}

.opts {
  background:silver;
  border-radius:25px;
  display:inline-block;
  margin:1rem;
  position:below;
  width:300px;
  text-align:center;
  align-items:center;
  padding:10px;
  box-shadow: 1px 5px 5px black;
}

.go {
  background-color:black;
  color:white;
  align-items:center;
  border-radius:10px;
  display:inline-block;
  height:40px;
  min-width:100px;
  font-size: 20px;
  box-shadow: 2px 2px 5px gray;
}

.footer {
  background-color:#d6d6d6;
  color:white;
  border: solid black 5px;
  padding:50px;
}

.footer-link {
  color:white;
  text-decoration: none;
  text-shadow: 2px 2px 5px black,0 0 10px black;
}

.fine-print {
  font-size: 12px;
  color:white;
}

/*form {
  text-align:center;
  border: solid black 3px;
  margin: 10px;
  padding:10px;
}*/

.input-label {
  float:left;
  position:relative;
}

.input{
  color:#008000;
  background-color:white;
  align-items:center;
  border-radius:10px;
  display:inline-block;
  height:40px;
  font-size: 20px;
  box-shadow: 2px 2px 5px gray;
  border: solid black 2px;
  text-decoration:none;
}

.match{
  color:white;
  background-color:#005600;
}

.res{
  color:white;
  background-color:black;
  padding:5px;
}

.nonmatch{
  color:white;
  background-color:#960000;
}

.info{
  text-align:center;
  color:black;
  background-color:yellow;
  border:solid black 2px;
  float:center;
  left:5px;
  right:5px;
}